
    div,object
      {float:left;}
    .full
      {width:100%;}
    .half
      {width:49.5%;}
    .half2
      {width:49.9%;}
    .third
      {width:33%;}
    .quarter
      {width:24.5%;}
    .threequarters
      {width:74.5%;}
