test {display: block; color: red; font-family: Arial,Helvetica}
stdalone {display:block;font-size: 24pt;color:olive; font-family: Times New Roman}
text {display:block;font-size: 17pt;font-family: Times, Times New Roman}
sample {display:block;font-size: 16pt;color:navy; font-family: Times New Roman}
