main {font-style: italic; font-family: arial, helvetica; font-size: 34pt; color: #66FF00}
again {font-weight: bold; font-style:normal;font-family: arial, helvetica; font-size: 10pt; color: #660099}
node {font-style: bold; text-decoration: underline; font-family: 40pt; color: #FFFF00}
