
/* 
   Stylesheet for the Space Invaders DOM application
   by torstein@opera.com

   $Id: spaceinvaders.css 10655 2006-12-18 15:47:57Z hallvord $
*/

body 
{
  font-family: monospace; 
  color: cyan;
  background-color: black;
}

h1
{ 
   color: teal;
}

span.c
{
   color: cyan;
}

.yellow
{
   color: yellow;
}

.red
{
   color: red;
}

td
{ 
  width: 50px;
  height: 50px;
  font-size: 0.7em;
  text-align: center;
}

.alien
{ 
  color: orange;
}

a
{ 
  color: lime;
  background-color: black;
}

a:hover
{ 
  color: yellow;
  background-color: black;
}
