/*
 * Style sheet for SVG Implementation Status
 */


BODY {
    color: black;
    /* text-align: justify; */
    font-family: helvetica, sans-serif;
    background: white;
    margin: 2em;
    /* For the REC: background: #def url(recbg.jpg); */
}
.navlinks {
    text-align: center;
}
H2, H3, H4, H5, H6 {
    text-align: left;
}

H1 {
    clear: left;
    margin-top: 1em;
    text-align: center;
}

PRE { margin-left: 2em }
PRE {
    color: #A52A2A;
    font-family: monospace;
    font-size: 80%
}
PRE.svgsamplecompressed {
    font-size: 75%;
    letter-spacing: -.05em;
    line-height: 95%
}
PRE strong {
    color: #004400;
    font-weight: bold
}
.filterformula {
    color: #A52A2A;
    font-family: monospace;
    font-size: 80%;
    margin-left: 2em
}

div.dtd-fragment { 
    background-color: #dddddd;
    margin-left: 0;
}
.dtd-fragment { 
    background-color: #dddddd;
    margin-left: 0;
}
.idl-code { 
  margin: 0;
  font-family: monospace;
	border: 1px solid black;
	white-space: pre;
	color: black; 
	background-color: #dfdfdf;
}

.adef {
    font-family: monospace;
	font-weight: bold;
}


ADDRESS {
    text-align: right;
    font-style: italic;
}

VAR {
    font-style: normal;
}
IMG {
    border: 0;
}
.toc {
    text-indent: 0;
}
.toc2 {
    text-indent: 2em;
}
.toc3 {
    text-indent: 4em;
}
P.toc-line {
    margin-top: 1em;
    margin-bottom: 1em;
    text-indent: 0;
}

/* It should be 'inherit', but Netscape inserts a random color :-( */
A.noxref:link, A.noxref:visited {color: black; /*color: inherit*/}
DIV.example A:link, DIV.example A:visited {color: maroon; /*color: inherit*/}
DIV.deprecated-html-example A:link,
DIV.deprecated-html-example A:visited {color: red; /*color: inherit*/}
.note A:link, .note A:visited {color: green; /*color: inherit*/}

A.propdef-title {
  background: yellow;
}

A.descdef-title {
  color: yellow;
  background: green
}

TABLE {border:1}

/* TABLE {margin-left: 1em} */
DIV.propdef {margin: 1.2em 0}

div.example { color: maroon }
pre.example { color: maroon }
pre.illegal-example { color: red }
div.illegal-example { color: red }
div.illegal-example p { color: black }


div.html-example { color: maroon }
pre.html-example { color: maroon }
pre.illegal-html-example { color: red }
div.illegal-html-example { color: red }
div.illegal-html-example p { color: black }
pre.deprecated-html-example { color: red }
div.deprecated-html-example { color: red }
div.deprecated-html-example p { color: black }

div.xml-example { color: maroon }
pre.xml-example { color: maroon }
pre.illegal-xml-example { color: red }
div.illegal-xml-example { color: red }
div.illegal-xml-example p { color: black }

div.dtd-example { color: maroon }
pre.dtd-example { color: maroon }
pre.illegal-dtd-example { color: red }
div.illegal-dtd-example { color: red }
div.illegal-dtd-example p { color: black }

.note {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    color: green
}

.normref { 
    color: red;
}	

.informref {
    color: green;
}	

DIV.propdef TH { 
    text-align: right; 
}

DIV.descdef TH { 
    text-align: right; 
}

UL.toc, OL.toc {list-style: none}
DIV.toc UL UL, DIV.toc OL OL {margin-left: 0}
DIV.toc UL UL UL, DIV.toc OL OL OL {margin-left: 1em}
DIV.toc UL UL UL UL, DIV.toc OL OL OL OL {margin-left: 0}
LI.tocline1 {font-weight: bold}
LI.tocline2 {font-weight: normal}
LI.tocline4 {font-style: italic}
/* DIV.subtoc UL, DIV.subtoc OL {list-style: none} */
/* The border in the following rule crashes NN4 on fonts.html :-(
DIV.subtoc {padding: 1em; border: solid black thin; margin: 1em 0;
    background: #ddd}
*/
UL.index {list-style: none}

S, DEL {text-decoration: line-through; color: red}
U, INS {text-decoration: underline; background: #bfa}

DIV.figure {
    text-align: center;
    /*border: solid thin;
    width: 100%;*/
    margin: 2.5em 0
}
P.caption, CAPTION {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 90%;
    color: #088;
    margin: 1.5em 25% 0 25%;
}
DIV.toc, UL.index, DT {
    text-align: left
}
SUP {
    vertical-align: super;
    font-size: 80%
}
.code-fragment {
	color: #A52A2A;
	font-weight: bold;
    font-size: 90%
}
.element-name {
	color: #A52A2A;
	font-weight: bold;
    font-size: 90%
}
.attr-name {
	color: #2A2AA5;
	font-weight: bold;
    font-size: 90%
}
.prop-name {
	color: black;
	font-weight: bold;
    font-size: 90%
}
.attr-value, .prop-value {
	font-weight: bold;
    font-size: 90%
}
.SVG-Term {
    color: red;
	font-weight: bold
}
.SVG-TermDefine {
	font-weight: bold
}
.example-ref {
	color: green;
}
.anim-target { 
    font-style: italic 
}
.DOMInterfaceName {
        font-weight: bold
}
.dom-attr-name {
        color: black;
        background-color: #FFFFD2;
}
.dom-attr-type, .dom-attr-value {
        color: black;
        font-weight: bold;
}
.dom-method-name {
        color: black;
        background-color: #D9E6F8;
}
.dom-parameter-name {
	margin-top: 1%;
        background-color: #FEE6F8; 
        color: black;
}
.math-variable {
    font-family:Times,serif
}
.color-keyword-value {
	color: #A52A2A;
}
.view-as-svg {
  font-style:italic
}
.table-heading-1 {
  font-style:italic; 
  text-align:center
}
.PathDataTable { 
  background: #dddddd 
}
.useRuleApplied {
  font-style:normal; 
  font-weight:bold; 
  color:blue
}
.useRuleIgnored {
  font-style:italic; 
  font-weight:bold; 
  color:#050;
}

.editor { text-decoration: underline; font-size: 85% }
.editor-intro { color: red; font-weight: bold }
.editor-rec { color: red; font-weight: bold }
.DESIGNGOALS { list-style-type: upper-alpha }
.REQT-LEVEL0 { list-style-type: decimal; font-weight: bold }
.REQT-LEVEL1 { list-style-type: lower-alpha; font-weight: normal }
.REQT-LEVEL2 { list-style-type: lower-roman; font-weight: normal }

.b4NomFix { color: #A52A2A; text-decoration: line-through }
.afNomFix { color: red; }



td {  font-size: 10pt; font-family: sans-serif;}
td.yes{  background: #88ff88}
td.no {  background: #ff8888}
 td.maybe {  background: #aaddff} 
td.check {  background: #ffbbff}
td.unknown {  background: #bbbbbb}
td.other {  background: none;}
th { background: #999999 }

 * {
     font-family: Helvetica, sans-serif;
 }
 
 p, address, a, li {
     font-size: 10pt;
 }
 
.Ok { background : #88ff88;}
.Fail { background : #ff8888;}
.Partial { background : #FFFF99;}
.Na { background : #b7b6b6;}
.Unknown { background : #e7e6e6;}

.Ok, .Fail, .Partial, .Na, .Unknown {
    align: center;
    font-weight: 900;
}

/*
.results tr.not-two-passing > td:first-child::before { 
    content: url(exclamation.svg); 
    width: 1.5em; 
    height: 1.5em; 
    position: absolute; 
    margin-left: -2em; 
    margin-top: -0.25em;
}
*/
#failing { 
    color: black; 
    background: #eee; 
    padding: 1em; 
    display: none; 
}

h1 {
      background: #1976B9; /*#0C3D5F;*/
      color: white;
      padding: 1em;
      margin: 0;
      font-size: 28pt;
      text-shadow: 0em 0em 0.2em rgba(0, 0, 0, 0.5);
      padding-bottom: 20pt;
      padding-top: 50pt;
      margin: 0px;
  }

  h1 span {
      display: block;
      font-size: smaller;
      padding-top: 0.2em;
      font-size: 16pt;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.4);
      text-shadow: none;
  }
  
  html {
      background: #e7e6e6;
  }

  html, body {
      padding: 0;
      margin: 0;
  }

  body {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
	  border-left: 1px solid rgba(0, 0, 0, 0.25);
	  border-right: 1px solid rgba(0, 0, 0, 0.25);
	  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 20px gray;
	  position: relative;
  }
/*
  body:before {
      width: 1px;
      height: 100%;
      position: absolute;
	  background: rgba(0, 0, 0, 0.10);
	  margin-left: -2px;
	  content: "";
	  border: none;
  }
  body:after {
      width: 1px;
      height: 100%;
      position: absolute;
	  background: rgba(0, 0, 0, 0.10);
	  margin-right: -2px;
	  content: "";
	  border: none;
	  top: 0px;
	  right: 0px;
  }
  */

  h2, h3 {
      color: #1976B9;
  }

  a {
      color: #1976B9;
  }

  table {
      border-collapse: collapse;
  }

  table th {
      color: white;
      background: #1976B9;
  }

  table tr {
      border: 1px solid #0C3D5F;
      /*background: #eae9e9;*/
  }
  
  table tr:nth-child(even) {
      background: #e7e6e6;
  }

  table td, table th {
      padding: 0.3em;
      min-width: 10ex;
      font-size: 10pt;
      font-family: helvetica, sans-serif;
  }
  
  table th {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      color: rgba(255, 255, 255, 0.75);
  }
  
  table tr {
      color: rgba(0, 0, 0, 0.7);
  }
  
  h1 sup {
      font-weight: bold;
      font-size: 18pt;
  }
  
  body div {
      padding-left: 2ex;
      padding-right: 2ex;
  }

  .test-warning {
	  font-weight: bold;
	  color: #ff8888;
  }
}
